{
  "presets": [
    ["env", {"modules": false}],
    "react",
    "stage-0"
  ],
  "plugins": [
    "styled-components",
    [
      "module-resolver",
      {
        "root": [
          "."
        ]
      }
    ]
  ]
}